<section class="section contact-section" id="next">
    <div class="container">
        <div class="row">
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">

                <form action="#" method="post" class="bg-white p-md-5 p-4 mb-5 border">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="text-black font-weight-bold" for="name">Name : </label> Veena Shree
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="text-black font-weight-bold" for="phone">Phone :</label> 7895642584

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="text-black font-weight-bold" for="email">Email : </label> veena@gmail.com

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="text-black font-weight-bold" for="checkin_date">Check In Date :</label> 27/03/2022

                        </div>
                        <div class="col-md-6 form-group">
                            <label class="text-black font-weight-bold" for="checkout_date">Check In Time :</label> 07:30pm

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="adults" class="font-weight-bold text-black">Tabel : </label> 3

                        </div>
                        <div class="col-md-6 form-group">
                            <label for="Guest" class="font-weight-bold text-black">No of Guest :</label> 5

                        </div>
                    </div>

                    <div class="row">
                        <div class=" form-group" style="background-color: green;color:blanchedalmond;padding: 10px;">
                            Avilable
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <button type="submit" value="Reserve Now" class="btn btn-primary text-white py-3 px-5 font-weight-bold" routerLink="/user/cancle">Book Here </button>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>