<div class="wallet-container text-center">
    <p class="page-title"><i class="fa fa-align-left"></i>My wallet</p>

    <div class="amount-box text-center">
        <img src="https://lh3.googleusercontent.com/ohLHGNvMvQjOcmRpL4rjS3YQlcpO0D_80jJpJ-QA7-fQln9p3n7BAnqu3mxQ6kI4Sw" alt="wallet">
        <p>Total Balance</p>
        <p class="amount">$ 123</p>
    </div>

    <div class="btn-group text-center">
        <button type="button" class="btn btn-outline-light" routerLink="/user/thanks">Pay Here</button>

    </div>


</div>
