<section class="items">
    <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
        <a href="#" class="room">
            <figure class="img-wrap">
                <img src="url(../../../../../../assets/img/1.jpeg">
            </figure>
            <div class="p-3 text-center room-info">
                <h2>Hotel 1</h2>
                <span class="text-uppercase letter-spacing-1"> </span>
                <p><a routerLink="/user/urestaurant" class="btn btn-primary text-white">Book Now</a></p>

            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
        <a href="#" class="room">
            <figure class="img-wrap">
                <img src="url(../../../../../../assets/img/5.jpeg">
            </figure>
            <div class="p-3 text-center room-info">
                <h2>Hotel 2</h2>

                <p><a routerLink="/user/urestaurant" class="btn btn-primary text-white">Book Now</a></p>

            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
        <a href="#" class="room">
            <figure class="img-wrap">
                <img src="url(../../../../../../assets/img/3.webp">
            </figure>
            <div class="p-3 text-center room-info">
                <h2>Hotel 3</h2>

                <p><a routerLink="/user/urestaurant" class="btn btn-primary text-white">Book Now</a></p>

            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
        <a href="#" class="room">
            <figure class="img-wrap">
                <img src="url(../../../../../../assets/img/4.jpeg">
            </figure>
            <div class="p-3 text-center room-info">
                <h2>Hotel 4</h2>

                <p><a routerLink="/user/urestaurant" class="btn btn-primary text-white">Book Now</a></p>

            </div>
        </a>
    </div>
</section>