<div class="contact-section">
    <h1 class="heading mb-3 text-center p-4">
        Contact
    </h1>
    <div class="div1">
        <h3 class="heading">Our Locations</h3><br>
        <p class="fs-4" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;"><u><b>Bengaluru </b></u>
        </p>
        <p><i class="bi bi-geo-alt-fill"></i> 501, 7th Main Road, 7th Cross Road, Near-Shivabalayogi Ashram, J P Nagar 3rd Phase,Bengaluru,Karnataka-560078</p>
        <p class="fs-4" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;"><u><b>Mumbai</b></u></p>
        <p><i class="bi bi-geo-alt-fill"></i> Marol Maroshi Rd, Vijay Nagar, Marol, Andheri East,Mumbai,Maharashtra-400059</p>
        <p class="fs-4" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;"><u><b>Chennai</b></u></p>
        <p><i class="bi bi-geo-alt-fill"></i> 1st Main Rd Ave, Dhandeeswaram, Velachery,Chennai,Tamil Nadu-600042</p>
        <p class="fs-4" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;"><u><b>Pune</b></u></p>
        <p><i class="bi bi-geo-alt-fill"></i> 201, II Floor, Winners Window, Behind Hotel Vaishali, Fergusson College Road, Deccan Gymkhana,Pune,Maharashtra-411004</p>
        <p class="fs-4" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;"><u><b>Goa</b></u></p>
        <p><i class="bi bi-geo-alt-fill"></i> 1286, Opposite St. Michael's Church, Kumar Vaddo, Anjuna, Goa-403509</p>
    </div>
    <div class="div1">
        <div>

            <h3 class="heading">Contact Us</h3>
            <br>
            <p> <i class="bi bi-geo-alt-fill"></i> No -1-2/1 Sri Ranga bldg, Ground to 4th floor, Marigowda Road, Opp Forum Mall, Koramangala, Bengaluru, Karnataka - 560029 INDIA</p>
            <p> <i class="bi bi-telephone-fill"></i> (+91) 8889977766</p>
            <p> <i class="bi bi-envelope-fill"></i> contactus@hotelreservation.com</p>
            <p> <i class="bi bi-browser-chrome"></i> hotelreservation123.in </p>
        </div>
    </div>
</div>