<section class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Cancled</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
<i class="fas fa-minus"></i>
</button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
<i class="fas fa-times"></i>
</button>
                        </div>
                    </div>

                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Users</th>
                                        <th>Arrival time</th>
                                        <th>Arrival Date</th>
                                        <th>Guests</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">Harsh</a></td>
                                        <td>6:30pm</td>

                                        <td>02/08/2022</td>

                                        <td>
                                            <div class="sparkbar" data-color="#00a65a" data-height="20">4</div>
                                        </td>
                                        <td><span class="badge ">Lorem ipsum</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">Bhuvan</a></td>
                                        <td>8:00pm</td>
                                        <td>08/09/2022</td>

                                        <td>
                                            <div class="sparkbar" data-color="#f39c12" data-height="20">3</div>
                                        </td>
                                        <td><span class="badge ">Lorem ipsum</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">Manoj</a></td>
                                        <td>1:00pm</td>
                                        <td>3/09/2022</td>

                                        <td>
                                            <div class="sparkbar" data-color="#f56954" data-height="20">2</div>
                                        </td>
                                        <td><span class="badge ">Lorem ipsum</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="pages/examples/invoice.html">Ashwini</a></td>
                                        <td>11:00am</td>
                                        <td>07/09/2022</td>

                                        <td>
                                            <div class="sparkbar" data-color="#00c0ef" data-height="20">6 </div>
                                        </td>
                                        <td><span class="badge ">Lorem ipsum</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
