<div class="banner" style="background-image: url(../../../../assets/img/hero_4.jpg); background-size: cover;">
    <div class="content">
        <h4 class="mb-4">
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:black;">Your booking has cancled </p>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:black">Thank you of your intrest</p>
        </h4>
        <a routerLink="userlogin" routerLink="/user/uhome">Back To Home <i class="bi bi-arrow-right"></i></a>

    </div>
</div>
<div class="wrapper">
    <div class="nav">
        <div class="dd">

        </div>
    </div>
</div>
