<div id="invoice-POS">

    <div id="top">

        <div class="info">
            <h2>Receipt</h2>
        </div>
        <!--End Info-->
    </div>
    <!--End InvoiceTop-->

    <div id="mid">
        <div class="info">
            <h2>Contact Info</h2>
            <p>
                Address : street city, state 0000<br> Email : JohnDoe@gmail.com<br> Phone : 555-555-5555<br>
            </p>
        </div>
    </div>
    <!--End Invoice Mid-->

    <div id="bot">

        <div id="table">
            <table>
                Paied $ 12
            </table>
        </div>
        <!--End Table-->

        <div id="legalcopy">
            <p class="legal"><strong>Thank you for your business!</strong>  <br> Payment is received.
            </p>
        </div>

    </div>
    <!--End InvoiceBot-->
</div>
<!--End Invoice-->
