<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header ">
                        <h3 class="card-title">Replay</h3>
                    </div>

                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">

                                <tr>
                                    <th style="color: #943288;">Send message</th>
                                </tr>

                                <td>
                                    <form action="">
                                        <input type="text" placeholder="Message" style="padding: 10px;"><br><br>
                                        <button style="border: #fff;background: #b41f1f;font-family: sans-serif;color: aliceblue;">Submit</button>
                                    </form>
                                </td>
                            </table>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</section>